body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  font-family: 'Papyrus', cursive;
  font-size: 64px;
  color: #2a4158;
  margin: 0;
  margin-top: 0px;
  margin-bottom: 20px;
}

.social-links {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.social-links a {
  font-size: 36px;
}

.social-links a:link {
  color: #2a4158;
  background-color: transparent;
  text-decoration: none;
}

.social-links a:visited {
  color: #2a4158;
  background-color: transparent;
  text-decoration: none;
}

.social-links a:hover {
  color: #597387;
  background-color: transparent;
  text-decoration: none;
}

.social-links a:active {
  color: #22272c;
  background-color: transparent;
  text-decoration: none;
}

#resume-button {
  margin: 30px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 18px;
  border-radius: 5px;
  background-color: white;
  color: #2a4158;
  border: 2px solid #2a4158;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}


#resume-button:hover, #resume-button:active {
  background-color: #2a4158;
  color: white;
}

@media (max-width: 480px) {
  #title {
    font-size: 48px;
  }

  .social-links {
    width: 160px;
  }

  .social-links a {
    font-size: 28px;
  }

  #resume-button {
    margin: 20px;
    font-size: 16px;
    padding: 5px 10px;
  }
}


@media (max-width: 375px) {
  #title {
    font-size: 36px;
  }

  .social-links {
    width: 120px;
  }

  .social-links a {
    font-size: 24px;
  }

  #resume-button {
    font-size: 16px;
    padding: 5px 10px;
  }
}
